@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Coda:wght@400;800&family=Frijole&display=swap");
/*GENERAL*/
* {
  font-family: "Coda", cursive;
  font-weight: 200;
  color: #FFFFFF;
  outline: none;
  transition: outline 0.2s;
}
*:focus-visible {
  outline: 3px solid #ffc107;
}

a {
  text-decoration: none;
}

/*HEADER*/
header {
  background-image: linear-gradient(#000000, rgba(0, 0, 0, 0));
}

.navbar-nav li {
  padding: 0 10px;
}
.navbar-nav li a {
  color: #FFFFFF;
  transition: all 0.2s;
}
.navbar-nav li a:hover {
  color: #ffc107;
}

.activa {
  color: #ffc107 !important;
}

/*CABECERA*/
.bodyLinks {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/wallpaper_pages.jpg);
  background-position-y: top;
}

/*INDEX*/
.bodyInicio {
  background-image: url(../img/wallpaper.jpeg);
  background-size: 1400px;
  background-position: center;
  background-repeat: no-repeat;
}

.espaciado {
  display: block;
  letter-spacing: 20px;
}

.form-control {
  background-color: rgba(255, 255, 255, 0.1);
  color: #FFFFFF;
  outline: none;
  transition: all 0.2s;
}
.form-control:focus {
  background-color: rgba(255, 255, 255, 0.1);
  color: #FFFFFF;
  outline: none;
  transition: all 0.2s;
  outline: 3px solid #ffc107;
}
.form-control::placeholder {
  color: #FFFFFF;
}

.form-select {
  background-color: rgba(255, 255, 255, 0.1);
  color: #FFFFFF;
  outline: none;
  transition: all 0.2s;
}
.form-select:focus {
  outline: 3px solid #ffc107;
}

/*STAFF*/
.staff_container {
  margin: 1.5rem auto;
  width: 300px;
  height: 500px;
}
.staff_container .img_container {
  position: absolute;
}
.staff_container .img_container img {
  border-radius: 0.3rem;
  border: 1px solid #FFFFFF;
  width: 300px;
  aspect-ratio: 0.6;
  object-fit: cover;
}
.staff_container .tarjetaInterna {
  border-radius: 0.3rem;
  border: 1px solid #FFFFFF;
  padding: 0.7rem;
  margin: 1.5rem;
  width: 250px;
  position: relative;
  opacity: 0;
  transform: translateY(180px);
  transition: all 0.3s;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
.staff_container:hover .tarjetaInterna {
  opacity: 1;
  transform: translateY(130px);
}

/*SEDES*/
.bg_img {
  border-radius: 0.3rem;
  border: 1px solid #FFFFFF;
  margin: 1rem auto;
  background-image: url(../img/gimnasios.jpg);
  background-size: cover;
}

.sede {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.3rem;
  border: 1px solid #FFFFFF;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
}
.sede p {
  margin: 0;
}

iframe {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.3rem;
  border: 1px solid #FFFFFF;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  margin: 0;
  padding: 0;
}

/*FUENTES Y TAMAÑOS*/
h1 {
  font-size: calc(1.325rem + 4.5vw);
}

h2 {
  font-size: calc(1.325rem + 2.5vw);
}

h1, h2, h3, button, a {
  font-family: "Frijole", cursive;
  font-weight: 200;
}
h1 span, h2 span, h3 span, button span, a span {
  font-family: "Frijole", cursive;
  font-weight: 200;
}

@media (max-width: 767px) {
  /*GENERAL*/
  .bodyInicio, .bodyLinks, .bg_img {
    background-image: none;
  }
  /*SEDES*/
  .bg_img {
    border: none;
  }
  /*CLASES*/
  .clases {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
