@import 'variables';


/*HEADER*/
header {
  background-image: linear-gradient(black,rgba(0,0,0,0));
}
.navbar-nav {
  li {
    padding: 0 10px;
    a {
      color: map-get($colores, blanco);
      transition: color 0.2s; 
      &:hover {
        color: map-get($colores, amarillo);
      }
    }
  }
}
.activa {
  color: map-get($colores, amarillo) !important;
}