@import 'variables';

/*HEADER*/
header {
  background-image: linear-gradient(map-get($colores,negro),map-get($colores,op_100));
}
.navbar-nav {
  li {
    padding: 0 10px;
    a {
      color: map-get($colores, blanco);
      transition: all 0.2s; 
      &:hover {
        color: map-get($colores, amarillo);
      }
    }
  }
}
.activa {
  color: map-get($colores, amarillo) !important;
}