@import 'variables';
/*INDEX*/
.bodyInicio {
  background-image: url(../img/wallpaper.jpeg);
  background-size: 1400px;
  @include img_background
}
.espaciado {
  display: block;
  letter-spacing: 20px;
}
.form-control {
  @include inputs;
  &:focus {
    // outline: map-get($colores, amarillo);
    @include inputs;
  }
  &::placeholder {
    color: map-get($colores, blanco);
  }
}

.form-select {
  @include inputs;
}
