@import 'mixins';

/*SEDES*/
.bg_img {
  @include bordes;
  margin: 1rem auto;
  background-image: url(../img/gimnasios.jpg);
  background-size: cover;
}
.sede {
  @include para_sedes;
  p {
    margin: 0;
  }
}
iframe {
  @include para_sedes;
  margin: 0;
  padding: 0;
}