/*SEDES*/

ul li a{
  text-decoration: none;
}
.sede, iframe {
  background-color: rgba(0,0,0, 0.5);
  border: 1px solid white;
  border-radius: 0.3rem;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
}
iframe {
  margin: 0;
  padding: 0;
}
.sede p {
  margin: 0;
}
.bg_img {
  background-image: url(../img/gimnasios.jpg);
  background-size: cover;
  border: 1px solid white;
  border-radius: 0.3rem;
  margin: 1rem auto;
}