@import url('https://fonts.googleapis.com/css2?family=Coda:wght@400;800&family=Frijole&display=swap');
@import 'variables';
@import 'mixins';
@import 'general';
@import 'header';
@import 'cabecera';
@import 'index';
@import 'staff';
@import 'sedes';
@import 'fuentes';
@import 'mediaQuerys';